
.montserrat- {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 466;
  font-style: normal:
}

:root {
  --imageBorderRadius: 8px;
  --white: #ffffff;
  --black: #121212;
  --card_backing: #0d0d0d;
  --grey: rgb(128,128,128);
  --loading: #2b3431;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: rgb(13,13,13);
  background: linear-gradient(0deg, rgba(13,13,13,1) 0%, rgba(24,49,41,1) 100%); 
  overflow: hidden;
  margin: 10px;
}


h1 {
  font-family: "Montserrat", serif;
  color: var(--white);
  font-size: 30px;
  font-weight: 300px;
}

h2 {
  font-family: "Montserrat", serif;
  color: var(--white);
  font-size: 12px;
  font-weight: 300px;
  max-width: 150px;
  max-height: 15.5px;
  width: 150px; /* Set a width for the container */
  white-space: nowrap; /* Prevent text from wrapping onto the next line */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) at the end of the overflowing text */
}


p {
  font-family: "Montserrat", serif;
  color: var(--grey);
  font-size: 10px;
  font-weight: 50px;
}

.title {
  margin-bottom: 5px;
  margin-left: 20px;
}




/*movie scroller////////////////////////////////////////////////////////////////////*/
.movie_genre_wrap {
  display: flex;
  flex-direction: column;
}

.movie_scroller {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  align-content: space-between;
  gap: 20px;
  min-width: 100%;
  max-width: var(--maxPrimaryPageWidth);
  min-height: 355px;
  margin-right: 2px;
  overflow-x: auto;
}

.movie_scroller::-webkit-scrollbar {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

.cardstyle_movie {
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  padding: 5px 5px 10px 5px;
  border-radius: 10px;
  border: 0px;
  transition: all 1s ease-in-out;
  max-width: 150px;
}

.cardstyle_movie_loading{
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  padding: 5px 5px 10px 5px;
  border-radius: 10px;
  border: 0px;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.cardstyle_movie_loading::before{
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(rgb(255, 255, 255, 0.2),transparent,
  transparent);
  animation: animate 3s linear infinite;
}

.cardstyle_movie_loading::after{
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 10px;
}

@keyframes animate 
{
  0%
  {
    transform: translate(-150px,-150px);
  }
  25%
  {
    transform: translate(0px,-150px);
  }
  50%
  {
    transform: translate(0px,109.1px);
  }
  75%
  {
    transform: translate(-150px,109.1px);
  }
  100%
  {
    transform: translate(-150px,-150px);
  }

}

.contents_loading{
  position: relative;
  z-index: 3;
  margin-top: 5.6px;
  background: var(--loading);
  width: 150px;
  height: 28.5px;
  border-radius: var(--imageBorderRadius);
  
}

.cardstyle_movie:hover {
  transform: scale(1.2);
  margin: 0 30px;
}


.poster_img {
  width: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  border-radius: var(--imageBorderRadius);
  min-height: calc(150px* 1.5);
  height: calc(180px* 1.2);
}

.movie_img_loading {
  position: relative;
  z-index: 3;
  width: 150px;
  background: var(--loading);
  border-radius: var(--imageBorderRadius);
  min-height: calc(150px* 1.5);
  height: calc(180px* 1.2);
}

/*search bar/////////////////////////////////////////////////////////////////////////////*/
.search_bar {
  margin-left: 20px;
  position: relative;
  margin-top: 10px;
}

.search_icon {
  position: absolute;
  color: var(--white); /* Icon color set to bright white */
  top: 15px;
  left: 440px;
  width: 30px;
  height: 30px;
}

.search {
  padding: 20px 240px 20px 20px;
  background: rgba(18, 18, 18, 0.75); /* Darker, semi-transparent background */
  border: 0px;
  border-radius: 28px;
  font-family: "Montserrat", serif;
  color: var(--white); /* Ensures the text is bright white */
  font-size: 16px;
  font-weight: 300;
}

.search_wrap {
  display: flex;
  flex-direction: column;
}

